/* Project CSS 
============================================================
============================================================*/



/* HEADER ============================== */

body{
    background-image: url("../images/stardust.png");
    background-attachment: fixed;
    /*background-repeat: round;*/
}
header, section{
    /*background-color: #444444;*/
    color: #fff;
    max-width: 1200px;
    margin: auto 0;
}

h1,h2, h3{
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    letter-spacing: 4px;
    position: relative;
    left: 40px;
    border-bottom: solid 2px #ffffff;
}

/*Paragraphs*/

header p{
    position: relative;
    left: 40px;
    letter-spacing: 3px;
    padding: 7px;
    /*text-transform: uppercase;*/

}
/*p:last-of-type{*/
    /*margin-right: 500px;*/
    /*padding: 10px;*/
/*}*/

.bio_pic{
    margin-left: 39px;
    margin-bottom: 10px;
}

/* ABOUT ============================== */

article:nth-of-type(2){
    float: right;
    width: 800px;
    margin-top: -390px;
    /*position: relative;*/
    /*bottom: 400px;*/
}

article:nth-of-type(2) h2{
    margin-bottom: 10px;
    left: 0;

}

article:nth-of-type(2) p{
    line-height: 25px;
}

/*article:nth-of-type(3){*/
    /*margin: 0 auto;*/
    /*width: 900px;*/
/*}*/

/*View Component Link*/
a{
    color: #ffffff;
    font-weight: bold;
    border: solid 3px #000;
    padding: 5px;
    background-color: #000000;
    border-radius: 4px;

}

/* COMPONENTS ============================== */

section:nth-of-type(2), section:nth-of-type(3), section:nth-of-type(4), section:nth-of-type(5), section:nth-of-type(6){
    margin: 0 auto;
}
