/* Project CSS 
============================================================
============================================================*/



/* HEADER ============================== */

body{
    background-image: url("../images/stardust.png");
    background-attachment: fixed;
    /*background-repeat: round;*/
}
header, section{
    /*background-color: #444444;*/
    color: #fff;
    max-width: 960px;
    margin: auto 0;
}

h1,h2 {
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    letter-spacing: 4px;
    position: relative;
    left: 40px;
    border-bottom: solid 2px #ffffff;
}

/*Paragraphs*/

header p{
    position: relative;
    left: 40px;
    letter-spacing: 3px;
    padding: 3px;
    /*text-transform: uppercase;*/

}
p:last-of-type{
    margin-right: 500px;
    padding: 10px;
}

img{
    padding: 10px;
}


/* ABOUT ============================== */



/* COMPONENTS ============================== */
