/* Component Stylesheet 
============================================================
============================================================*/

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6em;
    background-color: #33292e;
}

section{
    max-width: 1024px;
    margin: 0 auto;
    /*border: 1px solid blue;*/
    overflow: hidden;
}

h1{
    text-align: center;
    margin-bottom: 3rem;
    color: #e47d33;
    font-size: 30px;
}

h2{
    font-weight: 600;
}

strong{
    color: #ffffff;
}

article{
    width: 46.58203125%;
    float: left;
    height: 180px;
    padding-top: 125px;
    padding-left: 20px;
}

a{
    float: right;
    margin-top: -23px;
    color: #ffffff;
}

article h2, p{
    width: 75%;
    color: #fff;
}

/*img{*/
    /*position: relative;*/
    /*top: -40px;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*z-index: -1;*/
/*}*/