<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Selena Vargas</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
<section>
	<h1>27 Locations Near You</h1>
		<article>
			<h2>Camp Gladiator - Hobby Lobby</h2>
			<p>5325 William D. Tate Ave., Grapevine, TX, 76051</p>
			<a href="">Destination</a>
		</article>

		<article>
			<h2>Camp Gladiator - Hobby Lobby</h2>
			<p>5325 William D. Tate Ave., Grapevine, TX, 76051</p>
			<a href="">Destination</a>
		</article>

		<article>
			<h2>Camp Gladiator - Hobby Lobby</h2>
			<p>5325 William D. Tate Ave., Grapevine, TX, 76051</p>
			<a href="">Destination</a>
		</article>

		<article>
			<h2>Workout Now</h2>
			<p>5325 William D. Tate Ave., Grapevine, TX, 76051</p>
			<a href="">Destination</a>
		</article>

		<article>
			<h2>Kickin' It Old School</h2>
			<p>5325 William D. Tate Ave., Grapevine, TX, 76051</p>
			<a href="">Destination</a>
		</article>

		<article>
			<h2>Camp Gladiator - Hobby Lobby</h2>
			<p>5325 William D. Tate Ave., Grapevine, TX, 76051</p>
			<a href="">Destination</a>
		</article>
</section>
	<!-- End Component -->
	
</body>
</html>