<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Selena Vargas</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		<h2>Services</h2>
		<p>I love to work on Branding, Web, and UI Design. But I'm also open to other work design.
			Lets have a talk!
		</p>

		<article>
			<img src="Brand_Designsmall.png" alt="Brand_Design">
			<h3>Brand Design</h3>
		</article>

		<article>
			<img src="Web_Designsmall.png" alt="Web_Design">
			<h3>Web Design</h3>
		</article>

		<article>
			<img src="UI_Designsmall.png" alt="UI_Design">
			<h3>UI Design</h3>
		</article>

		<article>
			<img src="Other_Designsmall.png" alt="Other_Design">
			<h3>Other Design</h3>
		</article>

	</section>

	<!-- End Component -->
	
</body>
</html>