<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Selena Vargas</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<header>

		<img src="SearchButton.png" alt="Search_Button">

		<nav>
			<ul>
				<li><a href="">TV Shows</a></li>
				<li><a href="">Movies</a></li>
				<li><a href="">Artists</a></li>
				<li><a href="">Login</a></li>
				<li><a href="">Sign Up</a></li>
			</ul>
		</nav>

	</header>

	<!-- End Component -->
	
</body>
</html>