<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Selena Vargas</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<footer>

		<nav>
			<ul>
				<li><a href="">Buy Now</a></li>
				<li><a href="">How It Works</a></li>
				<li><a href="">Login</a></li>
				<li><a href="">Sign Up</a></li>
			</ul>
		</nav>

		<section>

			<img src="facebooksmall1.png" alt="Facebook">
			<img src="twittersmall1.png" alt="Twitter">
			<img src="Fight2Fitnesslogosmall.png" alt="Fight2FitnessLogo">

			<a href="">Buy Pass Now</a>

		</section>

		<p>&copy;2014 Fight2Fitness All Rights Reserved</p>

	</footer>

	<!-- End Component -->
	
</body>
</html>