/* Component Stylesheet

============================================================
============================================================*/

footer{
    background-color: #171717;
    margin: 0 auto;
    max-width: 1200px;
    font-family: helvetica, arial, sans-serif;
}

nav ul li {
    display: inline-block;
    margin-top: 100px;
}

nav ul{
    position: relative;
    left: 140px;
    top: 20px;
}


a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
}

section a{
    padding: 20px;
    background-color:#fa8841 ;
    border-radius: 3px;
    position: relative;
    left: 100px;
    bottom: 35px;

}

p{
    color: #5d5f62;
    position: relative;
    left: 140px;
}

section{
    margin-left: 430px;
    position: relative;
    bottom: 85px;
    left: 210px;

}