<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Selena Vargas</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<footer>
		<nav>
			<ul>
				<li><a href="">Buy Now</a></li>
				<li><a href="">How It Works</a></li>
				<li><a href="">Login</a></li>
				<li><a href="">Sign Up</a></li>
			</ul>
		</nav>

		<img src="" alt="Facebook">
		<img src="" alt="Twitter">
		<img src="" alt="Fight2FitnessLogo">

		<a href="">Buy Pass Now</a>

		<p>&copy;2014 Fight2Fitness All Rights Reserved</p>

	</footer>

	<!-- End Component -->
	
</body>
</html>