<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Selena Vargas</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
<header>
	<section>

	<img src="BullyingLogo.png" alt="Bullying_Logo">
	<h1>Australian Anti Bullying Organization</h1>

	<nav>
		<ul>
			<li><a href="">Get Involved</a></li>
			<li><a href="">About Us</a></li>
			<li><a href="">Workshops</a></li>
		</ul>
	</nav>
	</section>

	<section>
		<article>
		<h2>Find the courage to take action</h2>
		<p><a href="">Get Involved</a></p>
		</article>
	</section>
</header>
	<!-- End Component -->
	
</body>
</html>