/* Component Stylesheet 
============================================================
============================================================*/

body{
    background-color: #2b2725;
    max-width: 1000px;
}

nav li{
    display: inline-block;
    margin-right: 10px;
}

a, h1, h2{
    color: #fff;
}

h1{

}